{% extends 'layout.html' %}

{% block content %}
<h1>Profile Downloader Page</h1>

{% if messages %}
<!-- If a flash() message has been sent, it will display here. -->
<div style="background-color: yellow; padding: 9px;">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<p>Enter a Github username to fetch their profile as JSON and save the raw JSON to MongoDB.</p>

<form action="/get-profile/" method="POST" class="form-inline">
    <input class="form-control" type="text" name="username" placeholder="Enter a Github username&hellip;">
    <button class="btn btn-primary">Fetch and save profile JSON</button>
</form>

<h2>Saved Profiles</h2>
<p>Here is a list of profiles in the database. If you don't see profile links below, try clicking the button above.</p>
<ol>
    {% for profile in profiles %}
    <li><a href="/profile/{{profile.id}}/">{{profile.raw_json.login}}</a></li>
    {% endfor %}
</ol>
{% endblock %}
